[Unit]
Description=Cit k8s custom controller
ConditionPathExists=/opt/cit_k8s_extensions/bin/citk8scontroller-1.0-SNAPSHOT

[Service]
ExecStart=/opt/cit_k8s_extensions/bin/citk8scontroller-1.0-SNAPSHOT -kubeconf=/etc/kubernetes/admin.conf 
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
Alias=citk8scontroller.service

